body {
background-color:black;
color:GreenYellow;
font:Courier New, Courier, monospace, fixed-width, serif
}
a {
color:LimeGreen;

}
a:hover {
color:white;
}
input:focus {
color:LimeGreen;

}
select:focus {
color:White;
background-color:Black;
}
textarea:focus {
color:White;
background-color:Black;
}